{% extends "domes/base.html" %}

{% block title %}{{ county_name.upper }}{% endblock %}
{% block description %}The county of {{ county_name.upper }} in the Domesday Book{% endblock %}
{% block nav-class %}nav-places{% endblock %}
{% block content %}
<div class="page_title">
<h1>County: {{ county_name}}</h1>
</div>

<div class="content">

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" ></script> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/tablesorter.js" ></script>

<script type="text/javascript">
$(function() 
    { 
        $("#statsTable").tablesorter({ 
		        headers: { 0: { sorter:'text' } , 
		                   1: { sorter:'text' } ,
		                   2: { sorter:'digit' } 
		                 } , 
		         sortList: [[2,1]] 
		    });
    } 
);value
</script>

<p>Places in the county of <strong>{{ county_name.upper }}</strong> in the Domesday Book.</p>

<!-- <div id="map_canvas" style="width: 100%; height: 600px"></div> -->

<table id="statsTable" class="tablesorter" style="width: 100%;">
<thead><tr><th>Name</th><th>Hundred</th><th>Tax paid</th></tr></thead>
<tbody>
{% for place in places %}
<tr>
<td><a href="/place/{{place.grid}}/{{ place.vill }}">{{ place.vill }}</a></td><td><a href="{% url hundred place.hundred %}">{{ place.hundred }}</a></td><td>{{ place.holding }} {{ place.units }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br/>

</div>

<div style="clear: both;"></div>


{% endblock %}
