{% extends "domes/base.html" %}

{% block title %}{{ county }}{% endblock %}
{% block description %}The county of {{ county }} in Domesday Book{% endblock %}
{% block nav-class %}nav-places{% endblock %}
{% block content %}
<div class="page_title">
<h1>County: {{ county}}</h1>
</div>

<div class="content">

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" ></script> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/tablesorter.js" ></script>

<script type="text/javascript">
$(function() 
    { 
        $("#statsTable").tablesorter({ 
		        headers: { 0: { sorter:'text' } , 
		                   1: { sorter:'text' } ,
		                   2: { sorter:'digit' } ,
		                   3: { sorter:'digit' } ,		
		                 } , 
		         sortList: [[3,2]] 
		    });
    } 
);value
</script>

<div id="divMap">
<div id="map_canvas" style="width:400px; height:400px;"></div>
</div>
</div>

<p>There were {{ places.count }} places in the county of <strong>{{ county }}</strong> in Domesday Book.</p>

<table id="statsTable" class="tablesorter" >
<thead><tr>
<th>Name</th><th>Hundred</th><th>Tax paid</th><th>Population</th>
</tr></thead>
<tbody>
{% for place in places %}
<tr>
<td><a href="{{ place.get_absolute_url }}">{{ place.vill }}</a></td>
<td><a href="{{ place.hundred.get_absolute_url }}"> {{ place.hundred }}</a></td>
<td>{{ place.raw_value|floatformat:"-1" }}</td>
<td>{{ place.population|floatformat:"-1" }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br/>

</div>

<div style="clear: both;"></div>

<script type="text/javascript">
{% if centre %}
    var lat = {{centre.y}};
    var lng = {{centre.x}};
{% else %}
    var lat = null;
	var lng = null;
{% endif %}
window.onload = set_up_map(lat, lng);
{% for place in places %}
addMarker('{{place.location.y}}', '{{place.location.x}}', '{{place.grid}}', '{{place.vill}}', '{{place.vill_slug}}', '{{place.hundred}}', '{% for county in place.county.all %}{{ county }} {% endfor %}', '{{place.population|floatformat:"-1"}}' );
{% endfor %}
</script>


{% endblock %}
