
{% extends "domes/base.html" %}

{% block title %}Help{% endblock %}
{% block nav-class %}nav-help{% endblock %}

{% block content %}
<div class="page_title">
<h1>Help</h1>
</div>

<div class="content">


<h4>Understanding the map</h4>

<p id="statistics"><strong>What information is recorded under 'Statistics'?</strong></p>

<ul>
	<li>The <strong>name</strong> is the modern equivalent of the Domesday manor/vill name. (If you can help add the original Domesday names, please <a href="/contact">get in touch</a>.)</li>
	<li>The <strong>area</strong> (which often doesn't exist) is the name of area intermediate between county and hundred/wapentake, such as lathes, rapes, or ridings.</li>
	<li>The <strong>hundred</strong> is the Domesday hundred in which the manor is described, or to which it belongs. A hundred (also known as a wapentake) is a <a href="http://en.wikipedia.org/wiki/Hundred_(county_subdivision)">Saxon division of land</a>, smaller than a county.</li>
	<li>The <strong>county</strong> is the Domesday county. This may be different from modern counties. In particular, Lancashire doesn't exist in Domesday Book.</li>
</ul>


<!-- <p id="markup"><strong>What does the text markup mean?</strong></p>

<p>Simple square brackets <strong>[]</strong> are inserts made by the editors of the original printed volumes. Additional markup is as follows:</p>
	
	<ul style="padding-left: 1em;">
	<li><strong>[=	=]</strong>	Landholders inserted into each entry, based upon the fief heading</li>
	<li><strong>[*	*]</strong>	Individual accorded a known byname, or other identified material; the identifications are explained in the Notes</li>
	<li><strong><	></strong>	Individual accorded an estate name in the absence of a known byname; the identification is explained in the Notes</li>
	<li><strong>^[	]^</strong>	Information inferred from another part of the text</li>
	<li><strong>[!1!	!1!]</strong>	Not in Domesday Book, from satellite text (Exon.)</li>
	<li><strong>[!2!	!2!]</strong>	Not in Domesday Book, from satellite text (Domesday Monachorum)</li>
	<li><strong>[!3!	!3!]</strong>	Not in Domesday Book, from satellite text (St Augustines)</li>
	<li><strong>[!4!	!4!]</strong>	Not in Domesday Book, from satellite text (ICC)</li>
	<li><strong>[!5!	!5!]</strong>	Not in Domesday Book, from satellite text(Ely Inquisition)</li>
	<li><strong>[!6!	!6!]</strong>	Not in Domesday Book, from satellite text (Feudal Book of Bury)</li>
	</ul>

<p>Folio numbers are recorded between chevrons: <strong><12a></strong>.</p>

For copyright reasons, the text for Yorkshire is not included.</p>

<p id="glossary"><strong>What is a hundred/wapentake/carcuate?</strong></p>

<p>Glossary TBA</p> -->



</div>
<div style="clear: both;"></div>
{% endblock %}