{% extends "domes/base.html" %}

{% block title %}Home {% endblock %}
{% block description %}Complete map of the Domesday Book of 1086{% endblock %}

{% block content %}

<div class="content">

<!-- <div id="homepage_search">
<form id="homepage_form" name="f" action="/search/" method="get" style="float: left; ">
<label>Type in a town or postcode (e.g. Cambridge, SW1A 1AA) to find Domesday places:&nbsp;</label>
<input type="search" id="geo" name="geo" size="40" autofocus />
  <script>
    if (!("autofocus" in document.createElement("input"))) {
      document.getElementById("geo").focus();
    }
  </script>
	&nbsp; 
<input type="submit" value="Search"> 
</form>
<div style="clear: both;"></div>
</div> -->

<!-- <p>A project to translate Domesday Book, the great survey of England from 1086.</p>
<table cellpadding="2em" cellspacing="2em" width="100%">
<tr>
<td width="33%" valign="top">
<h3>What is all this about?</h3>
</td>
<td width="33%" valign="top">
<h3>Recent translations</h3>
&raquo; Help us translate the text
</td>
<td width="33%" valign="top">
<h3>Recent forum posts</h3>
&raquo; Join the forums
</td>
</tr>
</table> -->

</div>

{% endblock %}
