{% extends "domes/base.html" %}

{% block title %}Hundred of {{ hundred.name }}{% endblock %}
{% block description %}The hundred of {{ hundred.name }} in the Domesday Book{% endblock %}
{% block nav-class %}nav-places{% endblock %}
{% block content %}

<div class="page_title">
<h1>Hundred: {{ hundred.name }}</h1>
</div>

<div class="content">

<div id="map_canvas" style="width: 50%; height: 400px; float: right;"></div>

{% if hundred.status %}
<ul>
	<li><strong>Status:</strong> {{ hundred.status }}</li>
</ul>
{% endif %}

<p>Places in the hundred of <strong>{{ hundred.name }}</strong> in the Domesday Book.</p>

<ul>
{% for place in hundred.place_set.all %}
<li><a href="{% url place place.grid place.vill_slug %}">{{place.vill}}</a>, {{ place.county.name }}</li>
{% endfor %}
</ul>

</div>

<script type="text/javascript">

var places = [];

{% for place in places_with_grid %}
var temp_array = ['{{place.lat}}', '{{place.lon}}', '{{place.vill}}', '{{place.grid}}', '{{place.county}}'];
places.push(temp_array);
{% endfor %}
{% for place in places_with_grid %}
{% if forloop.first %}
window.onload = load_page('{{place.lat}}', '{{place.lon}}', 9, places);
{% endif %}
{% endfor %}

</script>

{% endblock %}