{% extends "domes/base.html" %}

{% block title %}Domesday Book: {{county }}, page {{ number_clean}}{% endblock %}
{% block description %}Domesday Book: {{county }}, page {{ number_clean}} {% endblock %}
{% block nav-class %}nav-book{% endblock %}

{% block content %}
<script src="{{ MEDIA_URL }}js/jquery.maphilight.min.js"></script>
<script type="text/javascript">
$(function() {
	$('.page').maphilight();
});
</script>

<div class="page_title">
<h1>Book: {{county }}, page {{ number_clean}}</h1>
</div>

<div class="content">

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bx_styles/bx_styles.css" />
<script src="{{ MEDIA_URL }}js/jquery.bxSlider.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
       jQuery('#slider1').bxSlider({
            displaySlideQty: 10,
            moveSlideQty: 4         
        });
    });
</script>


	<div id="slider" class={{ county }}>
	<ul id="slider1" class="multiple"> 
	<li><a href="/image/bedfordshire/01">
	<img src="{{ MEDIA_URL }}images/Bdf/01.png" width="60" height="82" /></a>
	<div class="image-caption" class="image-caption">Bedfordshire<br/>(20 pages)</div></li> 
	<li><a href="/image/berkshire/01">
	<img src="{{ MEDIA_URL }}images/Brk/01.png" width="60" height="82" /></a>
	<div class="image-caption">Berkshire<br/>(16 pages)</div></li>
	<li><a href="/image/buckinghamshire/01">
	<img src="{{ MEDIA_URL }}images/Buk/01.png" width="60" height="82" /></a>
	<div class="image-caption">Buckinghamshire<br/>(21 pages)</div></li>
	<li><a href="/image/cambridgeshire/01">
	<img src="{{ MEDIA_URL }}images/Cam/01.png" width="60" height="82" /></a>
	<div class="image-caption">Cambridgeshire<br/>(28 pages)</div></li>
	<li><a href="/image/cheshire/01">
	<img src="{{ MEDIA_URL }}images/Chs/01.png" width="60" height="82" /></a>
	<div class="image-caption">Cheshire<br/>(17 pages)</div></li>
	<li><a href="/image/cornwall/01">
	<img src="{{ MEDIA_URL }}images/Cor/01.png" width="60" height="82" /></a>
	<div class="image-caption">Cornwall<br/>(11 pages)</div></li>
	<li><a href="/image/derbyshire/01">
	<img src="{{ MEDIA_URL }}images/Dby/01.png" width="60" height="82" /></a>
	<div class="image-caption">Derbyshire<br/>(14 pages)</div></li>
	<li><a href="/image/devon/01">
	<img src="{{ MEDIA_URL }}images/Dev/01.png" width="60" height="82" /></a>
	<div class="image-caption">Devon<br/>(38 pages)</div></li>
	<li><a href="/image/dorset/01">
	<img src="{{ MEDIA_URL }}images/Dor/01.png" width="60" height="82" /></a>
	<div class="image-caption">Dorset<br/>(20 pages)</div></li>
	<li><a href="/image/gloucestershire/01">
	<img src="{{ MEDIA_URL }}images/Gls/01.png" width="60" height="82" /></a>
	<div class="image-caption">Gloucestershire<br/>(18 pages)</div></li>
	<li><a href="/image/hampshire/01">
	<img src="{{ MEDIA_URL }}images/Ham/01.png" width="60" height="82" /></a>
	<div class="image-caption">Hampshire<br/>(34 pages)</div></li>
	<li><a href="/image/hc/11">
	<img src="{{ MEDIA_URL }}images/HC/11.png" width="60" height="82" /></a>
	<div class="image-caption">HC??<br/>(2 pages)</div></li>
	<li><a href="/image/herefordshire/01">
	<img src="{{ MEDIA_URL }}images/Hef/01.png" width="60" height="82" /></a>
	<div class="image-caption">Herefordshire<br/>(18 pages)</div></li>
	<li><a href="/image/hertfordshire/01">
	<img src="{{ MEDIA_URL }}images/Hrt/01.png" width="60" height="82" /></a>
	<div class="image-caption">Hertfordshire (20 pages)</div></li>
	<li><a href="/image/huntingdonshire/01">
	<img src="{{ MEDIA_URL }}images/Hun/01.png" width="60" height="82" /></a>
	<div class="image-caption">Huntingdonshire (20 pages)</div></li>
	<li><a href="/image/kent/01">
	<img src="{{ MEDIA_URL }}images/Ken/01.png" width="60" height="82" /></a>
	<div class="image-caption">Kent (20 pages)</div></li>
	<li><a href="/image/lc/75">
	<img src="{{ MEDIA_URL }}images/LC/75.png" width="60" height="82" /></a>
	<div class="image-caption">LC (20 pages)</div></li>
	<li><a href="/image/leicestershire/01">
	<img src="{{ MEDIA_URL }}images/Lec/01.png" width="60" height="82" /></a>
	<div class="image-caption">Leicestershire (20 pages)</div></li>
	<li><a href="/image/lincolnshire/01">
	<img src="{{ MEDIA_URL }}images/Lin/01.png" width="60" height="82" /></a>
	<div class="image-caption">Lincolshire (20 pages)</div></li>
	<li><a href="/image/middlesex/01">
	<img src="{{ MEDIA_URL }}images/Mdx/01.png" width="60" height="82" /></a>
	<div class="image-caption">Middlesex (20 pages)</div></li>
	<li><a href="/image/northamptonshire/01">
	<img src="{{ MEDIA_URL }}images/Nth/01.png" width="60" height="82" /></a>
	<div class="image-caption">Northamptonshire (20 pages)</div></li>
	<li><a href="/image/nottinghamshire/01">
	<img src="{{ MEDIA_URL }}images/Ntt/01.png" width="60" height="82" /></a>
	<div class="image-caption">Nottinghamshire (20 pages)</div></li>
	<li><a href="/image/oxfordshire/01">
	<img src="{{ MEDIA_URL }}images/Oxf/01.png" width="60" height="82" /></a>
	<div class="image-caption">Oxfordshire (20 pages)</div></li>
	<li><a href="/image/rutland/01">
	<img src="{{ MEDIA_URL }}images/Rut/01.png" width="60" height="82" /></a>
	<div class="image-caption">Rutland (20 pages)</div></li>
	<li><a href="/image/shropshire/01">
	<img src="{{ MEDIA_URL }}images/Shr/01.png" width="60" height="82" /></a>
	<div class="image-caption">Shropshire (20 pages)</div></li>
	<li><a href="/image/somerset/01">
	<img src="{{ MEDIA_URL }}images/Som/01.png" width="60" height="82" /></a>
	<div class="image-caption">Somerset (20 pages)</div></li>
	<li><a href="/image/staffordshire/01">
	<img src="{{ MEDIA_URL }}images/Sts/01.png" width="60" height="82" /></a>
	<div class="image-caption">Staffordshire (20 pages)</div></li>
	<li><a href="/image/surrey/01">
	<img src="{{ MEDIA_URL }}images/Sur/01.png" width="60" height="82" /></a>
	<div class="image-caption">Surrey (20 pages)</div></li>
	<li><a href="/image/sussex/01">
	<img src="{{ MEDIA_URL }}images/Sus/01.png" width="60" height="82" /></a>
	<div class="image-caption">Sussex (20 pages)</div></li>
	<li><a href="/image/warwickshire/01">
	<img src="{{ MEDIA_URL }}images/War/01.png" width="60" height="82" /></a>
	<div class="image-caption">Warwickshire (20 pages)</div></li>
	<li><a href="/image/wiltshire/01">
	<img src="{{ MEDIA_URL }}images/Wil/01.png" width="60" height="82" /></a>
	<div class="image-caption">Wiltshire (20 pages)</div></li>
	<li><a href="/image/worcestershire/01">
	<img src="{{ MEDIA_URL }}images/Wor/01.png" width="60" height="82" /></a>
	<div class="image-caption">Worcestershire (20 pages)</div></li>
	<li><a href="/image/yb/01">
	<img src="{{ MEDIA_URL }}images/YB/01.png" width="60" height="82" /></a>
	<div class="image-caption">YB (20 pages)</div></li>
	<li><a href="/image/yc/01">
	<img src="{{ MEDIA_URL }}images/YC/01.png" width="60" height="82" /></a>
	<div class="image-caption">YC (20 pages)</div></li>
	<li><a href="/image/yorkshire/01">
	<img src="{{ MEDIA_URL }}images/Yks/01.png" width="60" height="82" /></a>
	<div class="image-caption">Yorkshire (20 pages)</div></li>
	<li><a href="/image/ys/01">
	<img src="{{ MEDIA_URL }}images/YS/01.png" width="60" height="82" /></a>
	<div class="image-caption">YS (20 pages)</div></li>
	</ul> 
	</div>

<script src="{{ MEDIA_URL }}js/jquery.maphilight.min.js"></script>


{% if has_previous_page %}
<a href="">&laquo; Previous page</a>
{% endif %}
{% if has_next_page %}
<a href="">Next page &raquo;</a>
{% endif %}
<img src='/media/images/{{ filepath }}' class="page" width="940px"
height="1268px' usemap="#domesday"  />

<map name="domesday">
{% for image in images %}
{% with image.manor.place.all|first as place %}
{% if place.id %}
<area shape="rect" coords="{{image.x1}},{{image.y1}},{{image.x2}},{{image.y2}}" 
   href="{% url place place.grid place.vill_slug %}" 
   title="{{ place.vill }}"
   alt="{{ place.vill }}" 
/>
{% else %}
<area shape="rect" coords="{{image.x1}},{{image.y1}},{{image.x2}},{{image.y2}}"  
   title="Unknown place {{ image.manor.structidx }}"
   alt="Unknown place {{ image.manor.structidx }}" 
/>
{% endif %}
{% endwith %}
{% endfor %}
</map>

</div>

{% endblock %}

