{% extends "domes/base.html" %}

{% block title %}{{ person.name }} {% endblock %}
{% block description %}Places in the Domesday Book owned by {{ person.name}} {% endblock %}
{% block nav-class %}nav-people{% endblock %}

{% block content %}

<div class="page_title">
<h1>Person: {{ person.name }}</h1>
</div>

<div class="content">

<div id="divMap">
<div id="map_canvas" style="width:400px; height:400px;"></div>
</div>
</div>

<ul>
{% if person.namecode %}<li><strong>Name code:</strong> {{ person.namecode }}</li>{% endif %}
{% if person.gendercode %}<li><strong>Gender:</strong> {{ person.gendercode }}{% endif %}
{% if person.churchcode %}<li><strong>Church affiliation:</strong> {{ person.churchcode }}{% endif %}
{% if person.xrefs %}<li><strong>References:</strong>  {{ person.xrefs }}{% endif %}
</ul>

{% if person.lord66.count|add:person.overlord66.count|add:person.lord86.count|add:person.teninchief.count = 0 %}
Didn't own anywhere!
{% else %}

<p>Owned {{ person.lord66.count|add:person.overlord66.count }} places before the Conquest;
 {{ person.lord86.count|add:person.teninchief.count }}  after the Conquest.</p>

{% if person.lord66.count > 0 or person.overlord66.count > 0 %}
<p class="small-caps-header">Before the Conquest</p>
{% endif %}

{% if person.lord66.count > 0 %}
<p style="font-weight: bold;">Lord in 1066:</p>
<ul>
{% for manor in person.lord66.all %}
{% for place in manor.place.all %}
<li> 
<a href="{% url place place.grid place.vill_slug %}">{{ place.vill }}</a>, 
 {{ place.hundred }}, {% for county in place.county.all %}{% if not forloop.first %}/{% endif %}{{ county }} {% endfor %}
</li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}

{% if person.overlord66.count > 0 %}
<p style="font-weight: bold;">Overlord in 1066:</p>
<ul>
{% for manor in person.overlord66.all %} 
{% for place in manor.place.all %}
<li> 
<a href="{% url place place.grid place.vill_slug %}">{{ place.vill }}</a>, 
  {{ place.hundred }}, {% for county in place.county.all %}{% if not forloop.first %}/{% endif %}{{ county }} {% endfor %}
</li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}

{% if person.lord86.count > 0 or person.teninchief.count > 0 %}
<p class="small-caps-header">After the Conquest</p>
{% endif %}
{% if person.lord86.count > 0 %}
<p style="font-weight: bold;">Lord in 1086:</p>
<ul>
{% for manor in person.lord86.all %}
{{ manor.structidx}}
{% for place in manor.place.all %}
<li> 
<a href="{% url place place.grid place.vill_slug %}">{{ place.vill }}</a>, 
  {{ place.hundred }}, {% for county in place.county.all %}{% if not forloop.first %}/{% endif %}{{ county }} {% endfor %}
</li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}
{% if person.teninchief.count > 0 %}
<p style="font-weight: bold;">Tenant-in-chief in 1086:</p>
<ul>
{% for manor in person.teninchief.all %}
{% for place in manor.place.all %}
<li> 
<a href="{% url place place.grid place.vill_slug %}">{{ place.vill }}</a>, 
  {{ place.hundred }}, {% for county in place.county.all %}{% if not forloop.first %}/{% endif %}{{ county }} {% endfor %}
</li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}
{% endif %}

</div>


<script type='text/javascript'>
window.onload = set_up_map();
{% for manor in person.lord66.all %}
{% for place in manor.place.all %}
//function addMarker(lat, lng, grid, vill, vill_slug, hundred, county, raw_value, colour) {
addMarker('{{place.location.y}}', '{{place.location.x}}', '{{place.grid}}', 
          '{{place.vill}}', '{{place.vill_slug}}', '{{place.hundred}}', '{{place.county}}', 
          '{{place.value}}', '0066FF' );
{% endfor %}
{% endfor %}
{% for manor in person.lord86.all %}
{% for place in manor.place.all %}
addMarker('{{place.location.y}}', '{{place.location.x}}', '{{place.grid}}', 
           '{{place.vill}}', '{{place.vill_slug}}', '{{place.hundred}}', '{{place.county}}', 
           '{{place.value}}', '000000' );
{% endfor %}
{% endfor %}
{% for manor in person.overlord66.all %}
{% for place in manor.place.all %}
addMarker('{{place.location.y}}', '{{place.location.x}}', '{{place.grid}}', 
          '{{place.vill}}', '{{place.vill_slug}}', '{{place.hundred}}', '{{place.county}}', 
          '{{place.value}}', 'FFFFFF' );
{% endfor %}
{% endfor %}
{% for manor in person.teninchief.all %}
{% for place in manor.place.all %}
addMarker('{{place.location.y}}', '{{place.location.x}}', '{{place.grid}}', 
          '{{place.vill}}', '{{place.vill_slug}}', '{{place.hundred}}', '{{place.county}}', 
          '{{place.value}}', '666666' );
{% endfor %}
{% endfor %}
</script>

{% endblock %}


