{% extends "domes/base.html" %}

{% block title %}{{ person.name }} {% endblock %}
{% block description %}Places in the Domesday Book owned by {{ person.name}} {% endblock %}
{% block nav-class %}nav-people{% endblock %}

{% block content %}

<div class="page_title">
<h1>Person: {{ person.name }}</h1>
</div>

<div class="content col left">

<p>Places owned by <strong>{{ person.name.upper }}</strong>.</p>

{% if person.namecode %}Name code: {{ person.namecode }}{% endif %}
{% if person.gendercode %}Gender: {{ person.gendercode }}{% endif %}
{% if person.churchcode %}Church affiliation:  {{ person.churchcode }}{% endif %}
{% if person.xrefs %}References:  {{ person.xrefs }}{% endif %}

{% if lord66_places or overlord66_places %}<h2>Before the Conquest</h2>{% endif %}

{% if lord66_places %}
<h3>Lord in 1066:</h3>
<ul>
{% for place in lord66_places %}
<li> 
<a href="/place/{{ place.grid }}/{{ place.vill }}">{{ place.vill }}</a>, {{ place.hundred }}, {{ place.county }}
</li>
{% endfor %}
</ul>
{% endif %}

{% if overlord66_places %}
<h3>Overlord in 1066</h3>
<ul>
{% for place in overlord66_places %}
<li> 
<a href="/place/{{ place.grid }}/{{ place.vill }}">{{ place.vill }}</a>, {{ place.hundred }}, {{ place.county }} 
</li>
{% endfor %}
</ul>
{% endif %}

{% if lord86_places or teninchief86_places %}<h2>After the Conquest</h2>{% endif %}


{% if lord86_places %}
<h3>Lord in 1086</h3>
<ul>
{% for place in lord86_places %}
<li>
<a href="/place/{{ place.grid }}/{{ place.vill }}">{{ place.vill }}</a>, {{ place.hundred }}, {{ place.county }} 
</li>
{% endfor %}
</ul>
{% endif %}

{% if teninchief86_places %}
<h3>Tenant-in-chief in 1086</h3>
<ul>
{% for place in teninchief86_places %}
<li> 
<a href="/place/{{ place.grid }}/{{ place.vill }}">{{ place.vill }}</a>, {{ place.hundred }}, {{ place.county }} 
</li>
{% endfor %}
</ul>
{% endif %}

</div>

<div class="content col right">
<div id="map_canvas" style="width: 100%; height: 400px"></div>
</div>

<div style="clear: both;"></div>


<script type='text/javascript'>
window.onload = set_up_map();
{% for place in lord66_places %}
addMarker('{{place.lat}}', '{{place.lon}}', '{{place.grid}}', '{{place.vill}}', '{{place.hundred}}', '{{place.county}}', '{{place.holding}}', '{{place.units}}', '0066FF' );
{% endfor %}
{% for place in overlord66_places %}
addMarker('{{place.lat}}', '{{place.lon}}', '{{place.grid}}', '{{place.vill}}', '{{place.hundred}}', '{{place.county}}', '{{place.holding}}', '{{place.units}}', '0066FF' );
{% endfor %}
{% for place in lord86_places %}
addMarker('{{place.lat}}', '{{place.lon}}', '{{place.grid}}', '{{place.vill}}', '{{place.hundred}}', '{{place.county}}', '{{place.holding}}', '{{place.units}}', '008CFF' );
{% endfor %}
{% for place in teninchief86_places %}
addMarker('{{place.lat}}', '{{place.lon}}', '{{place.grid}}', '{{place.vill}}', '{{place.hundred}}', '{{place.county}}', '{{place.holding}}', '{{place.units}}', '008CFF' );
{% endfor %}

</script>

{% endblock %}


