{% extends "domes/base.html" %}
{% block nav-class %}nav-places{% endblock %}
{% load comments %}
{% load gravatar %}

{% block title %}{{ place.vill }}{% endblock %}
{% block description %}{{ place.vill }} in the Domesday Book{% endblock %}

{% block content %}

<div class="page_title">
<h1>Place: {{ place.vill }}</h1>
</div>
<div class="content" style="min-height: 420px;">
<ul>
<li><strong>Hundred: </strong><a href="{% url hundred place.hundred %}">{{ place.hundred }}</a></li>
{% if place.area %}<li><strong>Area: </strong>{{ place.area }}</li>{% endif %}
<li><strong>County: </strong> <a href="{% url county place.county.name %}">{{ place.county.name }}</a></li>
</ul>


{% if manors|length > 1 %}
<p>{{ place.vill }} appears in {{ manors|length }} {{ manors|length|pluralize:"entry,entries" }} in the Domesday Book.</p>
{% endif %}

{% for manor in manors %}

{% if manors|length > 1 %}
<p><strong>❧ ENTRY {{ forloop.counter }} ❧</strong></p>
{% endif %}

{% if manor.image_set.count > 0 %}
<a href="{{ MEDIA_URL }}images/cropped/{{ manor.structidx }}.png" class="thickbox" rel="gallery-domesday">
<img width="400px" height="100px" src="{{ MEDIA_URL }}images/cropped/{{ manor.structidx }}_thumb.png" title="" />
</a>
<a href="">see full image</a>
{% endif %}

<ul>
<li><strong>Value: </strong>
{% if manor.geld %}Taxable value {{ manor.geld }} {{manor.gcode}}. {% endif %}
{% if manor.value86 %}Value in 1086 £{{ manor.value86 }}. {% endif %}
{% if manor.value66 %}Value in 1066 £{{ manor.value66 }}. {% endif %}
{% if manor.valueqr %}Value c. 1070 £{{ manor.valueqr }}. {% endif %}
{%comment %}this needs sorting...{% if manor.value_string %}<li>Value string: {{ manor.value_string }}</li>{% endif %}{%endcomment%}
{% if manor.villtax %}{{ manor.villtax }} villtax. {% endif %}
{% if manor.taxedon %}Taxed on {{ manor.taxedon }}. {% endif %}
{% if manor.payments %}Payments of {{ manor.payments }} {% if manor.paymentsunits %} {{ manor.paymentsunits }}{% endif %}. {% endif %}
</li>
{% if manor.total_people > 0.0 %}
<li><strong>People: </strong>
{% if manor.headofmanor %}Head of manor is {{ manor.headofmanor }}. {% endif %}
{% if manor.villagers %}{{ manor.villagers|floatformat }} villager{{ manor.villagers|pluralize }}. {% endif %}
{% if manor.smallholders %}{{ manor.smallholders|floatformat }} smallholder{{ manor.smallholders|pluralize }}. {% endif %}
{% if manor.slaves %}{{ manor.slaves|floatformat }} slave{{ manor.slaves|pluralize }}. {% endif %}
{% if manor.femaleslaves %}{{ manor.femaleslaves|floatformat }} female slave{{ manor.femaleslaves|pluralize }}. {% endif %}
{% if manor.freemen %}{{ manor.freemen|floatformat }} freemen. {% endif %}
{% if manor.free2men %}{{ manor.free2men|floatformat }} free men. {% endif %}
{% if manor.priests %}{{ manor.priests|floatformat }} priest{{ manor.priests|pluralize }}. {% endif %}
{% if manor.cottagers %}{{ manor.cottagers|floatformat }} cottager{{ manor.cottagers|pluralize }}. {% endif %}
{% if manor.otherpop %}{{ manor.otherpop|floatformat }} other population. {% endif %}
{% if manor.miscpop and manor.miscpopcategories %}{{ manor.miscpop|floatformat }} {{ manor.miscpopcategories }}. {% endif %}
{% if manor.burgesses %}{{ manor.burgesses|floatformat }} burgess{{ manor.burgesses|pluralize:",es" }}. {% endif %}
</li>
{% endif %}
{% if manor.has_ploughland %}
<li><strong>Ploughland:</strong>
{% if manor.ploughlands %}{{ manor.ploughlands|floatformat }} ploughland{{ manor.ploughlands|pluralize }}{% if manor.pcode %} ({{ manor.pcode }}){% endif %}. {% endif %}
{% if manor.lordsploughs %}{{ manor.lordsploughs|floatformat }} lord's plough teams. {% endif %}
{% if manor.lordsploughspossible %}{{ manor.lordsploughspossible|floatformat }} lord's plough teams possible. </li>{% endif %}
{% if manor.mensploughs %}{{ manor.mensploughs|floatformat }} men's plough teams. {% endif %}
<!-- {% if manor.totalploughs %}<li>Total plough teams: {{ manor.totalploughs }}</li>{% endif %} -->
<!-- {% if manor.mensploughspossible %}{{ manor.mensploughspossible }} possible men's plough teams.{% endif %} -->
<!-- {% if manor.totalploughspossible %}<li>Men's plough teams: {{ manor.totalploughspossible }}</li>{% endif %} -->
</li>
{% endif %}
{% if manor.has_other_land %}
<li><strong>Other land: </strong>
{% if manor.lordsland %}{{ manor.lordsland }} lord's lands. {% endif %}
{% if manor.newland %}{{ manor.newland }} new lands. {% endif %}
{% if manor.meadow %}Meadow: {{ manor.meadow }} {{manor.meadowunits}}. {% endif %}
{% if manor.pasture %}Pasture: {{ manor.pasture }} {{manor.pastureunits}}. {% endif %}
{% if manor.woodland %}Woodland: {{ manor.woodland }} {{manor.woodlandunits}}. {% endif %}
{% if manor.mills %}{{ manor.mills }} mill{{ manor.mills|pluralize }}, value {{ manor.millvalue}}. {% endif %}
{% if manor.fisheries %}{{ manor.fisheries }} fisher{{ manor.fisheries|pluralize:"y,ies" }}. {% endif %}
{% if manor.salthouses %}{{ manor.salthouses }} salthous{{ manor.salthouses|pluralize:"e,es" }}. </li>{% endif %}
{% if manor.churches %}{{ manor.churches }} church{{ manor.churches|pluralize:",es" }}. {% endif %}
{% if manor.churchland %}{{ manor.churchland }} church lands. {% endif %}
</li>
{% endif %}
<!-- {% if manor.notes %}<li><strong>Notes on the data</strong>: {{ manor.notes }}</li>{% endif %} -->
{% if manor.has_livestock_1066 %}
<li><strong>Livestock in 1066: </strong>
{% if manor.livestock.cobs_1066 %}{{manor.livestock.cobs_1066 }} cobs. {% endif %}
{% if manor.livestock.cattle_1066 %}{{manor.livestock.cattle_1066 }} cattle. {% endif %}
{% if manor.livestock.cows_1066 %}{{manor.livestock.cows_1066 }} cows. {% endif %}
{% if manor.livestock.pigs_1066 %}{{manor.livestock.pigs_1066 }} pigs. {% endif %}
{% if manor.livestock.sheep_1066 %}{{manor.livestock.sheep_1066 }} sheep. {% endif %}
{% if manor.livestock.goats_1066 %}{{manor.livestock.goats_1066 }} goats. {% endif %}
{% if manor.livestock.beehives_1066 %}{{manor.livestock.beehives_1066 }} beehives. {% endif %}
{% if manor.livestock.wild_mares_1066 %}{{manor.livestock.wild_mares_1066 }} wild mares. {% endif %}
{% if manor.livestock.other_1066 %}{{manor.livestock.other_1066 }} {{manor.livestock.other_codes_1066 }}. {% endif %}
</li>
{% endif %}
{% if manor.has_livestock_1086 %}
<li><strong>Livestock in 1086: </strong>
{% if manor.livestock.cobs_1086 %}{{manor.livestock.cobs_1086 }} cobs. {% endif %}
{% if manor.livestock.cattle_1086 %}{{manor.livestock.cattle_1086 }} cattle. {% endif %}
{% if manor.livestock.cows_1086 %}{{manor.livestock.cows_1086 }} cows. {% endif %}
{% if manor.livestock.pigs_1086 %}{{manor.livestock.pigs_1086 }} pigs. {% endif %}
{% if manor.livestock.sheep_1086 %}{{manor.livestock.sheep_1086 }} sheep. {% endif %}
{% if manor.livestock.goats_1086 %}{{manor.livestock.goats_1086 }} goats. {% endif %}
{% if manor.livestock.beehives_1086 %}{{manor.livestock.beehives_1086 }} beehives. {% endif %}
{% if manor.livestock.wild_mares_1086 %}{{manor.livestock.wild_mares_1086 }} wild mares. {% endif %}
{% if manor.livestock.other_1086 %}{{manor.livestock.other_1086 }} {{manor.livestock.other_codes_1086 }}. {% endif %}
</li>
{% endif %}
</ul>
{% endfor %}

<div style="float: right;">
<div id="map_canvas" style="width:40%; min-width: 400px; height: 400px;"></div>
</div>
</div>

<script type="text/javascript">
  window.onload = show_place('{{place.location.y}}', '{{place.location.x}}', '{{place.vill}}', '{{place.grid}}', '{{place.county.name}}', 12);
</script>

<div style="clear: both;"></div>

{% endblock %}