{% extends "domes/base.html" %}
{% block nav-class %}nav-stats{% endblock %}
{% block title %}Statistics{% endblock %}


{% block content %}

<div class="page_title">
<h2>Statistics</h2>


</div>

<div class="content">

<img style="float:left; margin-right:20px" src="/media/images/sheep.jpg" title="Sheep!" height="80px"/>

<p>Coming soon - league tables for the biggest places, the most powerful female landowners,
 and the <strong>places with the most sheep</strong>.</p>

<p>If there's a Domesday Book league table you'd like to see here, please <a href="/contact">get in touch</a>.
</p>

</div>
<div style="clear: both;"></div>
{% endblock %}