{% extends "domes/base.html" %}
{% block nav-class %}nav-stats{% endblock %}
{% block title %}Statistics{% endblock %}


{% block content %}

<div class="page_title">
<h2>Statistics</h2>


</div>

<div class="content">

<p>Some <em>approximate</em> league tables! Note that Domesday Book did not cover what were then 
the largest cities in England - Ely, Winchester and others.</p>

<table width="100%">
<tr>
<td width="33%">
<h4>Top 10 places by population</h4>
<ol>
<li><a href="{% url place 'TG2308' 'norwich' %}">Norwich</a>, Norfolk, 1358 people</li>
<li><a href="{% url place 'TL8782' 'thetford' %}">Thetford</a>, Norfolk, 840.9 people</li>
<li><a href="{% url place 'TM4770' 'dunwich' %}">Dunwich</a>, Suffolk, 484.7 people</li>
<li><a href="{% url place 'ST2224' 'taunton' %}">Taunton</a>, Somerset, 479 people</li>
<li><a href="{% url place 'TR3241' 'dover' %}">Dover</a>, Kent, 420 people</li>
<li><a href="{% url place 'TR2236' 'folkestone' %}">Folkestone</a>, Kent, 395 people</li>
<li><a href="{% url place 'TQ9065' 'milton-regis' %}">Milton [Regis]</a>, Kent, 393 people</li>
<li><a href="{% url place 'TG1101' 'wymondham' %}">Wymondham</a>, Norfolk, 376 people</li>
<li><a href="{% url place 'TL2371' 'huntingdon' %}">Huntingdon</a>, Huntingdonshire, 359 people</li>
<li><a href="{% url place 'TQ1711' 'steyning' %}">Steyning</a>, Sussex, 328 people</li>
</ol>
</td>
<td width="33%">
<h4>Top 10 places by tax paid</h4>
<ol>
<li><a href="{% url place 'TF0207' 'stamford' %}">Stamford</a>, Lincolnshire, 155 geld</li>
<li><a href="{% url place 'SJ4912' 'shrewsbury' %}">Shrewsbury</a>, Shropshire, 102.5 geld</li>
<li><a href="{% url place 'SE6052' 'york' %}">York</a>, Yorkshire, 102.5 geld</li>
<li><a href="{% url place 'SU1821' 'downton' %}">Downton</a>, Wiltshire, 100 geld</li>
<li><a href="{% url place 'TQ1589' 'harrow' %}">Harrow</a>, Middlesex, 100 geld</li>
<li><a href="{% url place 'TL4458' 'cambridge' %}">Cambridge</a>, Cambridgeshire, 100 geld</li>
<li><a href="{% url place 'SU8713' 'singleton' %}">Singleton</a>, Sussex, 97.5 exemption</li>
<li><a href="{% url place 'SE4833' 'sherburn-in-elmet' %}">Sherburn [in Elmet]</a>, Yorkshire, 96 geld</li>
<li><a href="{% url place 'TQ1711' 'steyning' %}">Steyning</a>, Sussex, 93 geld</li>
<li><a href="{% url place 'SU2771' 'ramsbury' %}">Ramsbury</a>, Wiltshire, 90 geld</li>
</ol>
</td>
</tr>
</table>

<p>If there's a Domesday Book league table you'd like to see here, please <a href="/contact">get in touch</a>.
</p>

</div>
<div style="clear: both;"></div>
{% endblock %}